/* font-family: 'Jost', sans-serif; */
*{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #fdf2e9;
}